@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c4160;
}

main .card {
  max-width: 500px;
  margin: auto;
  color: black;
  border-radius: 20 px;
}

main p {
  margin: 0px;
}

main .container .h8 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

main .btn.btn-primary {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
}

main .btn.btn.btn-primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

main .btn.btn-primary:hover .fas.fa-arrow-right {
  transform: translate(15px);
  transition: transform 0.2s ease-in;
}

main .form-control {
  color: white;
  background-color: #223c60;
  border: 2px solid transparent;
  height: 60px;
  padding-left: 20px;
  vertical-align: middle;
}

main .form-control:focus {
  color: white;
  background-color: #0c4160;
  border: 2px solid #2d4dda;
  box-shadow: none;
}

main .text {
  font-size: 14px;
  font-weight: 600;
}

main ::placeholder {
  font-size: 14px;
  font-weight: 600;
}
